@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
}
html, body{
    height: 100%;
}
navbar{
    background-color: #000;
    padding: 1.5rem;
}
.navbar-item{
   color: #fff;
    font-size: 1.2rem;
}
.navbar-link{
    color: #fff;
    font-size: 1.2rem;
}

.footer{
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: auto;
}
.footer a{
    color: white;
    text-decoration: none;
    
}.footer a:hover{
    text-decoration: underline;
}
body{
    font-family: 'Arial', sans-serif;
}
